@{
    ViewData["Title"] = "Home Page";
}

<h3>@ViewData["Message"]</h3>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <input type="file" name="file" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}
